div{
    display: block;
    position: absolute;
    background: red;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    left: 10%;
    top: 10%;
    transition: 1s;
}

div.d1{
    position: relative;
    width: 200px;
    height: 200px;
    border: 3px dashed #000;
}

div.in{
    background: #fff;
}

div.d4{
    width: 70%;
    height: 70%;
    left: 15%;
    top: 15%;
}

div.d5{
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
}

div:hover{
    transform: scale(1.1);
    background: rgba(0, 255, 0, 0.3);
}

.active{
    perspective: 1000px;
    transform: rotateY(-15deg) translateZ(50px);    
 }

 .active:hover{
    transform: rotateY(-15deg) translateZ(50px) scale(1);    

  }

 .bord{
    border: 2px dashed #000;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
 }