
/* Подключеня внешних стилей: */

@import url(./components/navBurger/burger-style.css);

/* Основные стили: */

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}



/* 
Оформление стилей:
.declaration-order {
   Позиционирование 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

   Блочная модель 
  display: block;
  float: right;
  width: 100px;
  height: 100px;

   Типографика 
  font: normal 13px "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  text-align: center;

   Отображение 
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

   Прочее 
  opacity: 1;
}
 */

 /* Шаблон: */
 /* Позиционирование */
 /* Блочная модель */
 /* Типографика */
 /* Отображение */
 /* Прочее */

/* Каскад селекторов:
Селектор тега: 	    1
Селектор класса: 	10
Селектор ID: 	    100
Inline-стиль: 	    1000 
*/

/* ------------------------------------------ */
/* ----- От маленьких экранов к большим ----- */
/* ------------------------------------------ */

/* Стили для очень маленьких экранов (телефоны в книжной ориентации,
дисплей менее 576 пикселей). Записываются без медиа-запросов,
поскольку в Bootstrap это значение по умолчанию */

/* Стили для маленьких экранов (телефоны в альбомной ориентации,
дисплей 576 пикселей и более) */
@media (min-width: 576px) {  }

/* Стили для средних экранов (планшеты, дисплей 768 пикселей и более) */
@media (min-width: 768px) {  }

/* Стили для больших экранов (ПК, дисплей 992 пикселей и более) */
@media (min-width: 992px) {  }

/* Стили для очень больших экранов (ПК с большим монитором,
дисплей 1200 пикселей и более) */
@media (min-width: 1200px) {  }

/* ------------------------------------------ */
/*------ От больших экранов к маленьким ------*/
/* ------------------------------------------ */

/* Стили для очень больших экранов (дисплей 1200 пикселей и более).
Записываются без медиа-запросов, так как контрольная точка
для очень больших экранов не имеет верхней границы по ширине */

/* Стили для больших экранов (дисплей максимум 1199 пикселей) */
@media (max-width: 1199px) {  }

/* Стили для средних экранов (дисплей максимум 991 пикселей) */
@media (max-width: 991px) {  }

/* Стили для маленьких экранов (дисплей максимум 767 пикселей) */
@media (max-width: 767px) {  }

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) {  }

 

/* Bootstrap: */

/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media (max-width: 575px) {  }

/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media (min-width: 576px) and (max-width: 767px) {  }


/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media (min-width: 768px) and (max-width: 991px) {  }


/* Стили для больших экранов (дисплей шириной от 992 пикселей до 1199 пикселей) */
@media (min-width: 992px) and (max-width: 1199px) {  }


/* Стили для очень больших экранов (дисплей минимум 1200 пикселей) */
@media (min-width: 1200px) {  }
