#hexGrid {
	display: flex;
	flex-wrap: wrap;
	width: 35%;
	margin: 0 auto;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	list-style-type: none;
	padding: 0;
}

.hex {
	position: relative;
	visibility: hidden;
	outline: 1px solid transparent;
}

.hex::after {
	content: '';
	display: block;
	padding-bottom: 86.602%;
	background: chocolate;
}

.hexIn {
	position: absolute;
	width: 96%;
	padding-bottom: 110.851%;
	margin: 0 2%;
	overflow: hidden;
	visibility: hidden;
	outline: 1px solid transparent;
	-webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
	-ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
	transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
	position: absolute;
	visibility: visible;
	outline: 1px solid transparent;
}

.hexLink {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	-webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
	-ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
	transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
}

.hex img {
	left: -100%;
	right: -100%;
	width: auto;
	height: 100%;
	margin: 0 auto;
	-webkit-transform: rotate3d(0, 0, 0, 0deg);
	-ms-transform: rotate3d(0, 0, 0, 0deg);
	transform: rotate3d(0, 0, 0, 0deg);
}

@media (min-width: 1201px) {
	#hexGrid {
		padding-bottom: 4.4%;
	}
	.hex {
		width: 20%;
	}
	.hex:nth-child(9n + 6) {
		margin-left: 10%;
	}
}

@media (max-width: 1200px) and (min-width: 901px) {
	#hexGrid {
		padding-bottom: 4.4%;
	}
	.hex {
		width: 20%;
	}
	.hex:nth-child(9n + 6) {
		margin-left: 10%;
	}
}

@media (max-width: 900px) and (min-width: 601px) {
	#hexGrid {
		padding-bottom: 7.4%;
	}
	.hex {
		width: 33.333%;
	}
	.hex:nth-child(5n + 4) {
		margin-left: 16.666%;
	}
}

@media (max-width: 600px) {
  	#hexGrid {
		padding-bottom: 7.4%;
	}
	.hex {
		width: 33.333%;
	}
	.hex:nth-child(5n + 4) {
		margin-left: 16.666%;
	}
} 

@media (max-width: 400px) {
	#hexGrid {
		font-size: 13px;
	}
}
