body {
	display: flex;
	position: relative;
	flex-direction: row;
	
	background: rgb(17, 11, 124);
	background: linear-gradient(
			-142deg,
			rgba(17, 11, 124, 0.7) 0%,
			rgba(9, 9, 121, 0.7) 25%,
			rgba(5, 100, 181, 0.7) 56%,
			rgba(0, 212, 255, 0.7) 100%
		)
		no-repeat;
	background-size: 200%;
	font-family: 'Merriweather', serif;
}

@media (max-width: 768px) { /* Mobile media query  */
		body{
		  flex-direction: column;
		  justify-content: center;
		  padding: 0;
		}
}

section {
	
	width: 80%;
	
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
	margin-left: 9%;
	padding: 4%;
	z-index: 1;
	
	background: rgba(255, 255, 255, 0.3);
	
	border-radius: 10px;
	
	transition: left 0.3s;
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) { /* Mobile media query  */
  section{
    display: flex;
    width: 120%;
    left: 5%;
    margin: 30% auto;
  }
}


section.disactive {
	left: 20%;
	z-index: -1;
}

@media (max-width: 768px) { /* Mobile media query  */
  section.disactive{
    left: 0;
  }
}

h2:nth-child(1) {
	width: 103.5%;
	
	border-radius: 10px;
	padding-left: 10px;
	
	vertical-align: middle;
	padding-top: 5px;
	
	background: linear-gradient(to right, #a7bfbf , rgba(167, 191, 191, 0) 95%);
}

h2 {
	width: auto;
	height: 40px;
	background: none;
}

  /* About author section */
.about-me-sec {
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
}

.about-me-sec > h4,
.about-me-sec > h2 {
	margin: 5px;

	align-self: center;
}

.about-me-sec > h2 {
	margin-bottom: 20px;
}

@media (max-width: 768px) { /* Mobile media query  */
  .about-me-sec > h2 {
	margin-bottom: 5%;
}

.about-me-sec > h4,
.about-me-sec > h2 {
	margin: 0.5%;
}
}

@media (max-width: 768px) {
  .about-me-sec > h4{
    font-size: 120%;
  }
  .about-me-sec > h2{
    font-size: 150%;
  }
}

.about-me-sec > div {
	display: flex;
}

@media (max-width: 768px) {
  .about-me-sec > div {
    flex-direction: column-reverse;
  }
}

.about-me-sec > div > p {
	width: 60%;
	margin: 0 auto;
}

@media (max-width: 768px) {
		.about-me-sec > div > p {
		width: 90%;
		margin: 20px auto;
		font-size: 130%;
	}
}


.about-me-sec > p {
	position: relative;
	top: -250px;
    width: 50%;
	margin-left: 5%;
}

@media (max-width: 1051px) {
	.about-me-sec > p {
		margin-left: 0;
		top: -150px;
	}
  }

@media (max-width: 768px) {
  .about-me-sec > p {
    font-size: 130%;
    width: 90%;
    margin: 5% auto;
  }
}

.about-me-sec > div > img {
	width: 300px;
	height: auto;
	margin: 0 auto;
	margin-left: 0px;
	

	object-fit: cover;
}


@media (max-width: 768px) {
		.about-me-sec > div > img {
		width: 90%;
		margin: 20px auto;
	}
}

/*Skills section*/

.skills-sec > h2{

	margin-top: 0px;
}

/* Soft skills section  */
.soft-skills-sec {
	display: flex;
	flex-direction: column;
}

.soft-skills {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
}

.soft-skills > li {
	display: flex;
	align-items: flex-start;
	height: 300px;
	list-style: none;
}

/* @media{
  .soft-skills > li {
    width: auto;
  	height: 10vh;
  }
} */

.soft-skills > li:nth-child(2n) {
	position: relative;
	align-items: flex-end;
}

.soft-skills > li::before {
	content: " ";
	--width-line: 247px;
	position: absolute;
	width: var(--width-line);
	top: 79px;
	--width-line-rev: calc(var(--width-line) - 90px);
	left: calc(var(--width-line-rev));
	height: 2px;
	transform: rotate(-35deg);

	background: #000;
}


.soft-skills > li:nth-child(2n)::before {
	content: " ";
	--width-line: 247px;
	position: absolute;
	width: var(--width-line);
	top: 220px;
	--width-line-rev: calc(var(--width-line) - 0px);
	left: calc(var(--width-line-rev) * (-1));
	height: 2px;
	transform: rotate(35deg);

	background: #000;
}

.soft-skills > li:nth-child(5) {
	position: relative;
}

.soft-skills > li:nth-child(5)::before {
	left: -250px;
}

.soft-skills > li > span{
	position: relative;
}

.hyphen{
	display: block;
	position: relative;
	width: 20px;
	height: 0.8px;
	top: 8.3px;
	left: -25px;
	background-color: #000;
	border: 1px solid #000;
}

.conline{
	position: absolute;
	width: 2px;
	margin-top: -1px;
	background-color: red;
  }

.line {
  	display: flex;
	position: absolute;
	left: -35px;
	top: 50%;
	width: 107%;
	height: 2px;
	
	background: #000;
}

.line > .point{
  display: flex;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: -5px;
  top: -4px;
  background: #000;
}


.line > .arrow{
  display: flex;
  position: absolute;
  width: 5px;
  height: 5px;
  
  right: 2px;
  top: -6px;
}

.arrowRight{
	border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

span {
	font-size: 15px;
}

/* Education section  */

.education-sec {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
}

@media (max-width: 768){
	.education-sec > div{
	  width: 90%;
	  align-items: center;
	}
  }

.education-sec > h2 {
	align-self: flex-start;
}

.education-sec > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	width: 400px;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 20px;
	margin-left: 100px;
	
	background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768){
  .education-sec > div{
    width: 90%;
	margin-left: 0px;
  }
}

.education-sec .logo {
	width: 20%;
	height: auto;
	left: 5px;
	margin: 20px;
}

@media  (max-width: 768){
  .education-sec .logo{
    width: 15%;
    height: auto;
    margin: 1.5%;
  }
}

.education-sec h3 {
	margin: 5px;
}

.education-sec span {
	color: rgb(128, 128, 128);
	margin: 0;
	padding: 0;
	
	font-size: 10px;
}

.education-sec p {
	margin: 5px;
}

.education-sec p {
	font-size: 12px;
}

/* Author works section */
.my-works-sec {
	display: flex;
	flex-direction: column;
}

.my-works-sec > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.my-works-sec img {
	width: 300px;
	height: auto;
	background-size: 100%;
}

.my-works-sec a {
	display: flex;
	flex-direction: column;
	
	text-decoration: none;
	color: rgb(68, 69, 82);
	align-items: center;
}

.my-works-sec h3 {
	display: flex;
	margin-bottom: 0px;
}

.my-works-sec p {
	display: flex;
}

/* Contacts information section  */
.contacts-sec {
	display: flex;
	flex-direction: column;
}

.contacts-sec a {
	display: flex;
	
	font-size: 15px;
	color: rgb(50, 57, 84);
	align-items: center;
}

.contacts-sec img {
	width: 50px;
	height: auto;
	margin-right: 10px;
}

/* Language box  */
.lang-box {
	display: none;
	position: absolute;
	justify-content: center;
	right: 3%;
	top: 20px;
	z-index: 2;
	
	background: rgba(255, 255, 255, 0.3);
	border-radius: 30px;

}

.lang-box img {
	display: flex;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	margin: 5px;
}

@media (max-width: 768px) {
  .lang-mini{
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      width: 10%;
      right: 10%;
      top: 250px;
      border-radius: 30px;
      z-index: 2;
      
      background: rgba(255, 255, 255, 0.3);
    } 

	.lang-mini img {
		display: flex;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		margin: 5px;
	}
}
