header ul li.lang-list-point{
	display: flex;
	align-self: flex-start ;
	height: 38px;
	width: 15%;
	padding: 0;
	margin-right: 2%;
}

header .lang-box {
	margin-right: 50px;
	position: relative;

	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;
	border-radius: 5px;
	background: #fff;
	overflow: hidden;
}

header .lang-box ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	height: 100%;
	width: 80%;

	overflow: hidden;

	transition: 1s;

	border-radius: 5px;

	background: #fff;
}

header .lang-box .lang-list {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: 1s;
	overflow: hidden;
}

header .lang-box .lang-list::after {
	content: '▼';

	position: absolute;
	top: 10px;
	right: 20px;
	width: 25px;
	height: 25px;

	transform: rotate(90deg);

	transition: 1s;

	font-weight: bold;
	color: var(--heder-font-color);
	z-index: 10;
}

header .lang-box li {
	display: flex;
	align-items: center;

	height: 100%;
	width: 100%;

	padding: 0;
	margin-top: 15px;
	margin-left: -10px;

	background: none;

	margin: 0;
	padding: 0 10px;
}

header .lang-box li._active{
	order: 0;
}

header .lang-box li a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}

header .lang-box li img {
	height: 60%;


	border-radius: 50%;

	margin: 0;
	margin-right: 10px;
}

header #langList {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

 header #langList:checked ~ ul li.lang-list-point {
	height: 100%;
	align-self: flex-start;
} 

header #langList:checked ~ ul .lang-box .lang-list::after {
	transform: rotate(0deg);
}

header #langList:checked ~ ul .lang-box li{
	height: 50%;
}

@media (max-device-width: 768px) {
	header ul.menu li.lang-list-point{
		width: 50vw;
		height: 5vh;
	}

	header .lang-box{
		height: 100%;
	}

	header .lang-box li a {
		align-items: center;
		justify-content: center;
	}

	header .lang-box .lang-list ul{
		padding: 0;
		justify-content: space-around;
		width: 100%;
	}

	header .lang-box .lang-list ul li{
		width: 40%;
	}
}

@media (max-device-width: 1200px) {
	header ul.menu li.lang-list-point{
		width: 50vw;
		height: 5vh;
	}

	header .lang-box{
		height: 100%;
	}

	header .lang-box li a {
		align-items: center;
		justify-content: center;
	}

	header .lang-box .lang-list ul{
		padding: 0;
		justify-content: space-around;
		width: 100%;
	}

	header .lang-box .lang-list ul li{
		width: 40%;
	}
}

.langBtnEn{
	order: 0;
}

.langBtnUkr{
	order: 1;
}

