.scrollBar{
    display: flex;
    position: fixed;
    right: 0;
    bottom: 70px;
    width: 10px;
    height: 0;
    background: rgba(184, 184, 184, 0.77);
    border-radius: 5px;
    z-index: 100;
}

.mess-box{
    bottom: 75px;
}