* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  color: #707579;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h2.headerMess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.slider li {
  display: flex;
  list-style: none;
}

.slider ul {
  display: flex;
}

.i-icon {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
}

body .background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url(./img/bg.jpg) #3B81BF  no-repeat;
  background-size: 100%;
}

img {
  display: flex;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
  background: #fff;
  z-index: 10;
  transition: width 2s;
  padding: 22px;
}

header h2 {
  cursor: pointer;
}

header .names > picture {
  display: flex;
  height: 70px;
  width: 70px;
  margin: 5px;
}

header .names > div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

header .names {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

header .names h2 {
  font-size: 15px;
}

header .names h3 {
  font-size: 10px;
}

header .controls {
  display: flex;
  margin: 0;
}

header .controls span {
  display: flex;
  margin: 5px;
  align-items: center;
  font-size: 25px;
  color: #707579;
  transition: 1s;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
}

header .controls .search{
  padding: 0;
  margin: 0;
}

.search-input {
  display: flex;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 0;
  transition: 1s;
}

.search-triger {
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
}

.search {
  border: 1px solid rgba(0, 0, 0, 0);
}

.search-triger:checked ~ .search {
  border: 2px solid #5e616457;
}

.search-triger:checked ~ .search .search-input {
  width: 175px;
}

.search-num {
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  font-size: 7px;
}

header .controls span.search-btn {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 20px;
}

header .controls span.search-num {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.search-num.active {
  opacity: 1;
}

.search-num p {
  font-size: 7px;
  margin: 0;
  padding: 0;
}

.account-information {
  position: relative;
}

main {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  top: 100px;
  width: 100%;
  bottom: 75px;
  padding-top: 0;
  transition: width 2s;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 80px;
  padding-bottom: 50px;
  margin-top: -40px;
}

.messege {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin-left: 10%;
}

.messege:nth-child(2){
  margin-top: 20px;
}

.messege > p {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  background: #eeffde;
  margin: 5px;
  padding: 6px 8px 6px 10px;
  font-weight: 500;
  border-radius: 10px 10px 0px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  max-width: 50%;
}

.messege > p > .time,
.messege > p > .status {
  display: none;
  font-size: 12px;
  vertical-align: sub;
  opacity: 0.8;
  margin-left: 3px;
}

.messege > p::after {
  content: '';
  display: flex;
  position: absolute;
  height: 15px;
  width: 10px;
  background: url(./img/hvostMes.png);
  bottom: 0;
  right: -10px;
  z-index: 0;
}

.messege.keyboard > p::after {
  display: none;
}

.messege.in,
.messege.keyboard {
  justify-content: flex-start;
}

.messege.in > p {
  margin-left: 15px;
  border-radius: 10px 10px 10px 0px;
}

.messege.in > p::after {
  transform: scaleX(-1);
  left: -10px;
  right: auto;
}

.messege.keyboard p,
.messege.sliderMenu p {
  background: none;
  box-shadow: none;
}

.messege.in,
.messege.ful-width,
.messege.sliderMenu {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.messege.ful-width p,
.messege.sliderMenu p{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
}

.messege.ful-width p .text,
.messege.sliderMenu p .text{
  display: flex;
 width: 100%;
 justify-content: center;
}

footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;

  width: 100%;

  font-size: 40px;

  transition: width 2s;
}

footer > div {
  display: flex;
  position: relative;
  width: 100%;
  background: #fff;
  margin-left: 10px;
  border-radius: 10px 10px 0px 10px;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

footer > div::after {
  content: '';
  display: flex;
  position: absolute;
  height: 15px;
  width: 10px;
  background: url(./img/hvost.png);
  bottom: 0;
  right: -10px;
  z-index: 0;
}

footer input {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  height: 100%;
  border: none;
  outline: none;
}

input::placeholder {
  opacity: 0.5;
  transition: 3s;
}

input:focus::placeholder {
  opacity: 0;
  transition: 3s;
}

footer span {
  margin: 5px;
  margin-left: 10px;
}

footer span.send-btn {
  display: flex;
  background: #3390ec;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.found .text {
  background: rgb(176, 176, 176);
}

.notify {
  display: flex;
  position: absolute;
  padding: 20px;
  background: #fff;
  top: 50%;
  left: 35%;
  align-self: center;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: showNotif 5s;
}

@keyframes showNotif {
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.menu-btn {
  display: none;
}

.modal {
  display: flex;
  position: absolute;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  margin: auto;
  align-self: center;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  width: 70%;
  height: 60%;
  margin-left: 12%;
}

.information {
  display: flex;
  position: fixed;
  flex-direction: column;
  right: 0;
  width: 0%;
  height: 100vh;
  background: rgb(230, 230, 230);
  z-index: 10;

  transition: width 2s;
}

.information._active {
  width: 30%;
}

header._activeInfo,
main._activeInfo,
footer._activeInfo {
  width: 70%;
}

body {
  justify-content: flex-start;
  overflow: hidden;
}

.information .name {
  display: flex;
  flex-direction: column;
}

.wigetInfo {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.panelInfo {
  display: flex;
  position: relative;
  align-items: center;
}

.panelInfo > div {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
}

.panelInfo:nth-child(1)::after {
  content: '';
  display: flex;
  position: absolute;
  bottom: -4px;
  height: 1px;
  width: 85%;
  left: 30px;
  right: auto;
  background: linear-gradient(
    90deg,
    rgba(237, 255, 0, 0) 0%,
    rgba(193, 195, 197, 1) 14%,
    rgba(193, 195, 197, 1) 85%,
    rgba(221, 238, 3, 0) 100%
  );
}

input#notyfi {
  border: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.notyfiChek {
  display: flex;
  position: relative;
  width: 30px;
  height: 15px;
  background: #818284;
  border-radius: 50px;
  transition: 1s;
}

.notyfiChek::before {
  content: '';
  position: absolute;
  top: -2px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff;
  transition: 1s;
  border: 1px solid #818284;
}

#notyfi:checked ~ .notyfiChek {
  background: #00b3ff;
}

#notyfi:checked ~ .notyfiChek::before {
  transform: translateX(15px);
  border: 1px solid #3390ec;
}

.wigetInfo span {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;
}

.nameAccount {
  font-size: 12px;
}

.information div.name div.info {
  display: flex;
  justify-content: space-between;
  color: #353637;
}

.information div.name div.info > span {
  color: #353637;
}

.wigetInfo.name span {
  font-size: 13px;
  padding: 10px;
}

.botInfo {
  display: flex;
}

.wigetInfo span {
  margin-right: 10px;
}

.botInfo h2 {
  font-size: 14px;
  font-weight: 400;
  color: #353637;
}

.wigetInfo.name span {
  color: #d7d7d7;
  font-weight: 400;
  padding: 10px 0;
}

.profilePhoto {
  display: flex;
  width: 20%;
  border-radius: 50px;
  margin: 10px;
}

.profilePhoto img {
  border-radius: 50%;
}

.panelInfo .botId {
  font-size: 14px;
  padding: 0;
}

.add-file {
  position: relative;
}

.panelInfo .nameAccount {
  color: #d7d7d7;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  margin-left: 15px;
}

.panelInfo > div {
  padding: 10px 0;
}

.wigetInfo > span > .i-icon {
  padding: 0;
  width: 25px;
  margin: 0;
  margin-right: 10px;
}

.wigetInfo > span {
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.wigetInfo > span:last-child {
  padding-bottom: 10px;
}

.wigetInfo > span:first-child {
  padding-top: 10px;
}

.wigetInfo > span.warn {
  color: rgb(250, 101, 101);
}

.wigetInfo:last-child {
  height: 100%;
  margin-bottom: 0;
}

.ContextMenu {
  display: flex;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 1;
  top: 30%;
  left: 30%;
  overflow: hidden;
}

.ContextMenu > *:hover {
  background: rgba(225, 225, 225, 0.9);
}

.ContextMenu > * {
  padding: 20px;
  margin: 0;
  cursor: pointer;
}

.freeContextMenu > * {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bot-btn-inl {
  display: flex;
  background: rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 3px;
  padding: 10px;
  width: 200px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  transition: 1s;
  cursor: pointer;
}

.bot-btn-inl:hover {
  background: rgb(0, 0, 0, 0.2);
}

.bot-btn-inl:active {
  background: rgb(0, 0, 0, 0.4);
  transform: scale(0.9);
}

@media (max-width: 750px) {
  .keyboard p {
    margin-left: 15%;
  }
}

.canvas {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
}

.messege.in .keyBoard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.slider {
  display: flex;
  width: 100%;
  justify-content: center;
}


.slider ul{
  width: 70%;
  justify-content: center;
}

.slider .slide{
  --window-width: 30vw;
  display: flex;
  width: var(--window-width);
  height: calc(var(--window-width) * 0.4) ;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #000;
  background: #fff;
  margin: 20px;
  text-align: center;
  font-size: 2vw;
  transition: 2s;
}

.slider .slide:hover{
  transform: scale(1.2);
}

.slider .slide:first-child, .slider .slide:last-child{
  transform: scale(0.8);
}

.slider .slide:first-child:hover, .slider .slide:last-child:hover{
 transform: scale(1);
}

.slider .slide iframe{
  width: 45vw;
}

.slick-slider{
  width: 60vw;
  align-self: center;
}

.slick-track{
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide .menu-iteam{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vw;
  height: 11vw;
  background: #EAE8E9;
  border-radius: 50%;
  text-align: center;
  margin: 20px;
  transition: 1s;
  opacity: 0.8;
  transform: scale(0.8);
  font-size: 2vw;
  color: #3570A6;
  border: 5px solid #fff;
}

.slick-arrow{
  display: flex;
  min-width: 10%;
  justify-content: center;
  align-items: center;
  background: url(./img/arowRight.png) no-repeat;
  color: rgb(0, 0, 0, 0);
  background-position: center;
  background-size: 100%;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.slick-arrow:hover{
  transform: scale(1.2);
}

/* Стрелка влево */
.slick-arrow.slick-prev{
  background: url(./img/arowLeft.png) no-repeat;
  background-position: center;
  
  background-size: 100%;
}


.slick-slide.slick-center .menu-iteam{
  opacity: 1;
  transform: scale(1);
}


.backMenuBtn{
  display: flex;
  position: relative;
  background: url(./img/back.png) no-repeat;
  justify-content: flex-end;
  left: 33%;
  width: 50px;
  height: 20px;
  align-items: center;
  padding: 3px;
  background-size: 100%;
  z-index: 100;
  color: #fff;
}

.modal.window{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
  
  border-radius: 0px !important;
  left: 0;
  top: 90px;
  margin: 0;
  padding: 0;
  background: url(./img/bg.jpg) #3B81BF  no-repeat;
  background-size: 100%;
  z-index: 110;
}

.modal.window .modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.modal.window .modalHeader .headerText{
  font-size: 18px;
  font-weight: 700;
}

.modal.window .modalHeader .close{
  display: flex;
  width: 20px;
  height: 20px;
  background: url(./img/close.png);
  background-size: 100%;
}

.modal.window .post{
  padding: 8px;
}

.userBox {
  display: flex;
  justify-content: center;
}

.userBox .user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.userBox .user picture{
  width: 100%;
}

.userBox .user h3{
  color: #fff;
  text-align: center;
}

.additionally{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #B6B3B1;
  width: 80%;
  height: 0;
  border-radius: 50px;
  flex-wrap: wrap;
  transition: 1s;
  overflow: hidden;
}

.additionally.__active{
  height: 300px;
}

.additionally .flagMenu{
  display: flex;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: 20px;
  opacity: 0.7;
  transition: 1;
  z-index: 2;
}

.additionally .flagMenu h3 {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  z-index: -1;
  transition: 1s;
  top: 0;
  text-align: center;
  margin: auto;
  opacity: 0;
}

.additionally .flagMenu:hover h3 {
 top: 100px;
 opacity: 1;
}

.additionally .flagMenu:hover{
  opacity: 1;
}

@media (max-width: 768px) {

  .slick-slider{
    width: 90vw;
  }

  .userBox .user h3{
    color: #fff;
    font-size: 10px;
  }

  .additionally.__active{
    height: 700px;
  }
}




.modal.window {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 0px !important;
  left: 0;
  top: 0;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  background: url(../../img/bg.jpg) #3b81bf no-repeat;
  background-size: 100%;
}

.modal.window .modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.modal.window .modalHeader .headerText {
  font-size: 18px;
  font-weight: 700;
}

.modal.window .modalHeader .close {
  display: flex;
  width: 40px;
  height: 40px;
  background: url(./img/close.png);
  background-size: 100%;
}

.modal.window .post {
  padding: 8px;
  padding-bottom: 90px;
}

.modal.window .post * {
  color: #fff;
}

.modal.window .post .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal.window .post .content picture img {
  margin: 10px;
}

.modal.window .post .content picture {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 15%;
  max-width: 15%;
  margin: 10px;
}

.modal.window .post .content picture:nth-child(1),
.modal.window .post .content picture:nth-child(3) {
  margin-right: 30%;
}

.modal.window .post .content .info-country {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

.modal.window .post .content .info-country h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  width: 250%;
}

.modal.window .post .content .info-country p{
  text-align: center;
  width: 150%;
}


.modal.window .post .content .info-country span,
.modal.window .post section p {
  font-weight: 400;
}

.modal.window .post .content .info-country span {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  word-wrap: normal;
}

.modal.window .post .content .c-search {
  flex-direction: column;
  width: 40%;
  word-wrap: none;
  margin: 0 !important;
}
.modal.window .post a{
 display: flex;
 width: 80%;
 justify-content: center;
 height: auto;
}

.modal.window .post section {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-bottom: 200px;
}

.modal.window .post section h3,
.modal.window .post section p {
  margin: 2px;
}

.modal.window .post section h3 {
  display: flex;
  margin: 2px;
  flex-wrap: nowrap;
}

.modal.window .post section iframe {
  margin-top: 100px;
  margin-bottom: 100px;
  align-self: center;
  width: 80%;
}

.modal.window .post section h3 {
  margin-top: 10px;
}
