.works{
    justify-content: center;
}

.works .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-width: 200px;
}

.works .tiles li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-width: 200px;

    height: auto;
    margin: 5px;
    
    background: var(--main-color-html);
    border-radius: 5px;

    /* border: 5px solid #fff; */
    box-shadow: 2px 2px 5px var(--work-title-color);
    
    opacity: 0;
    transform: translateY(20%);
    transition: all 0.5s;
}

.works li:hover{
    width: 250px;
    height: 180px;
}

.works .tiles li h3{
    margin: 5px;
    color: var(--main-colorB-tex);
}

.works .tiles img{
    width: 80%;
    height: auto;
    margin: 5px;
    margin-top: 10px;

    border-radius: 5px;
}

.header-modal p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    width: 50%;
}

.header-modal p a{
    display: flex;
    margin: 0 20px;
}