<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal window">
      <div class="post">
        <div class="content">
          <h1 class="header">Australia</h1>
          <picture class="c-search"
            ><img src="./img/australia/Company search.png" alt="" />
            <h3><pre>COMPANY SEARCH</pre></h3></picture
          >
          <div class="info-country">
            <picture
              ><img src="./img/australia/Delivery.png" alt="" />
              <h4><pre> Delivery: <span>48-72 hrs</span></pre></h4></picture
            >
            <picture
              ><img src="./img/australia/Price.png" alt="" />
              <h4><pre>Price: <span>$4,000.00</span></h4></pre></picture
            >
            <picture
              ><img src="./img/australia/Document.png" alt="" />
              <p>
                <b> Documents checklist: </b>
                Passport scan 
                (Shareholders, Controllers, Directors)
                 / any nationality
              </p></picture
            >
            <picture
              ><img src="./img/australia/Payment options.png" alt="" />
              <p>
                <b>Payment options: </b>
                Bank wire,
                USDT TRC 20, USDT ERC20,
                 Credit/debit card, Cash
              </p></picture
            >
          </div>
          <section>
          
            <h3>Included:<p>
            Governmental fees, nominee director, document preparation,
            accounting for the first 12 months, legal address, stamp
          </p></h3>
          <iframe
            src="https://www.youtube.com/embed/4UV-p44Nr30"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            width="560"
            height="315"
            frameborder="0"
          ></iframe>
          <h2>HubWiki</h2>
          <h3>Why Australia:</h3>
          <p>
            Australia is the largest country in Oceania which makes it a
            suitable country for an entrepreneur to start a business. Australia
            has free trade agreements with other countries which allow it to
            carry out undisrupted trade. Apart from this, Australia has signed
            DTAAs with other countries protecting investors from double
            taxation. Any capital accrued in Australia can be repatriated to the
            home country. Australia is one of the best places to start a
            business, it has a stable business environment, you can easily find
            an educated labour force and of course, one of the biggest
            advantages is the well-regulated financial sector.
          </p><br>
          <h3>Who is registering and where it will be listed:</h3>
          <p>
            IIn the Australia ASIC - Australian Securities and Investments
            Commission handles the legal entity registration process. All
            registered legal entities can be found online on the company ASIC’s
            website.
          </p><br>
          <h3>Timeline:</h3>
          <p>FX B2B Hub can register your company within 24- 48 hrs.</p>
          <h3>Requirements:</h3>
          <p>
            In Australia, foreigners can register, own and manage the company,
            however, there is one requirement which can not be avoided, you need
            a local director. But, don’t worry, our company will provide you
            with nominee director service. Except Australian director here are
            other requirements to start a business in Australia like legal
            address, secretary, individual registration documents and etc. FX
            B2B Hub will handle all these requirements for you. The only
            documents that you need to provide are a scanned copy of your
            passport, proof of address and our KYC form.
          </p><br>
          <h3>Taxation:</h3>
          <p>
            All companies are subject to a federal tax rate of 30% on their taxable income, except for ‘small or medium business’ companies,  which are subject to a reduced tax rate of 25%.  The reduced tax rate applies only to those companies that, together with certain 'connected' entities, fall below the aggregated turnover threshold of AUD 50 million.
          </p><br>
          <h3>Price (What is included):</h3>
          <p>Our price includes all government fees and applications, delivery and charges account and legal address for the next 12 months. You can apply in a convenient way for you, by sending an email, through our social networks, from our websites, messengers or by phone. FX B2B Hub accepts the following payment methods bank wire, a few types is USDT credit or debit cards and cash. 
            In case you have any extra questions, don't hesitate to contact us 24 hrs 7 days a week.
            </p>
        </section>
        </div>
      </div>
    </div>
  </body>
</html>
